/* .CardBrend img{
   width: 100px;
}
.CardBrend{
    width: 160px;
    height: 110px;
    background-color: red;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
} */